* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html, body {
    width: 100%;
}
.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: medium;
}

    /* background-color: rgba(186, 216, 228, 0.816); */
body {
    position: absolute;
}
body .background-layer svg{
    width: 100%;
    margin-bottom: -20em;


}

main {
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

#card {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    
}

img {
    width: 55%;
    object-fit: cover;
    border-radius: 18px 19px 0 0;
}

.card-body  {
    width: 55%;
    background-color: hsl(225, 100%, 98%);
    padding: 1em 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 19px 19px;
}

h1 {
    font-size: 1.9em;
    font-weight: 900;
    text-align: center;
    padding: .5em;

}

.card-body > p {
    color: hsl(224, 23%, 55%);
    padding: 0 2em;
    text-align: center;
    font-size: 16px;
    font-weight: 200;

}

.illustration-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.illustration-img img {
    width: 15%;
}
.illustration-img h4 {
    font-size: 1.2em;
    font-weight: 700;
    flex: 1 1 0;
    padding: 1.3em .9em;
}
.illustration-img h4 > small {
    display: block;
}

.illustration-img small {
    font-size: .8em;
    font-weight: 200;
    color: hsl(224, 23%, 55%);
    
}
.illustration-img .change {
    padding-right: 2em;
    color: hsl(223, 47%, 23%);
    
} 
.illustration-img .change a {
    font-size: 1.24em;
    font-weight: 700;
}

.call-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: .3em 0;
}

.call-action a {
    background-color:  hsl(245, 75%, 52%);
    font-size: 1.1em;
    font-weight: 700;
    color: hsl(225, 100%, 98%);
    text-decoration: none;
    padding: .9em 1.8em;
    border-radius: 13px;
    box-shadow: 0 20px 0 0   hsla(225, 100%, 94%, 0.18);
    
}

.call-action > .deny a{
    display: block;
    margin: 1em;
    color: hsl(224, 23%, 55%);
    background: none !important;
    box-shadow: none;
    
}
.deny a {
    background: none !important;
    font-size: 1em;
}

.attribution {
    display: block;
    margin-top: -5em;

}
